<h2><%= t('.header') %></h2>

<p>
<%= link_to t('.create'), new_admin_test_path %>
</p>

<table>
  <tr>
    <th align="left"><%= t('.title')%></th>
    <th align="left"><%= t('.level')%></th>
    <th align="left"><%= t('.questions_count')%></th>
    <th colspan= "3"><%= t('.actions')%></th>
  </tr>

  <%= render @tests %>

</table>
