<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<h4><%= t('.t_questions') %></h4>
<%= link_to t('.new_question'), new_admin_test_question_path(@test)%>

<ol>
  <%= render @test.questions %>
</ol>



<%= link_to t('.back'), admin_tests_path %>
<%= link_to t('.edit'), edit_admin_test_path(@test) %>
