<div class="row justify-content-center">
  <div class="col col-md-4">
    <h2><%= t('.header') %></h2>

<p>
<%= link_to t('.create') new_admin_test_path %>
</p>

<table class="table table-success table-striped">
  <tr>
  <th align="left"><%= t('.title')%></th>
  <th align="left"><%= t('.level')%></th>
  <th align="left"><%= t('.questions_count')%></th>
  <th colspan= "4"><%= t('.actions')%></th>
  </tr>

  <%= render @tests %>

</table>
