<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
<br>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
<br>
  <strong><%=t('.category_id')%></strong>
  <%= test_path(@test) %>
<br>
</p>

<%= render @test.questions %>
<%= link_to t('.back'), tests_path %> |
<%= link_to t('edit'), edit_test_path %> |
<%= link_to t('new_question'), new_test_question_path(@test)%>
