<p>
  <strong>Title:</strong>
  <%= @test.title %>
<br>
  <strong>Level:</strong>
  <%= @test.level %>
<br>
  <strong>Category:</strong>
  <%= test_path(@test) %>
</p>

<%= render 'questions/question', questions: @test.questions %>
<br>
<%= link_to 'Back', tests_path %> |
<%= link_to 'Edit test', edit_test_path %> |
<%= link_to 'Add questions', new_test_question_path(@test)%>
